<div class="wrapper">
  <h1>TIC TAC TOE</h1>


  <h2 *ngIf="!boardLocked"> Current player: {{currentPlayer.name}} </h2>
  <div class="board" *ngIf="!boardLocked" [class.locked]="gameOver" >
    
    <div class="square" *ngFor="let square of board" (click)="makeMove(this.square)"> 
      <p>{{ square.value }}</p>
    </div>
  </div>


  <div class="game" *ngIf="boardLocked">
    <h2> Please select game mode </h2>
    <button [innerText]="(hardMode ? 'SUPPER HARD MODE' : 'EASY MODE') + ' (Click to Change)'" (click)="hardMode = !hardMode" >  </button>

    <button [innerText]="(againstAI ? 'PLAY WITH AI' : 'PLAY WITH FRIEND') + ' (Click to Change)'" (click)="againstAI = !againstAI" >  </button>
    
    <input *ngIf="againstAI" type="text" id="player1" placeholder="Enter your name "
      (change)="computerMode($event)" />

    <input *ngIf="!againstAI" type="text" id="player1" placeholder="Enter Player 1 name "
      (change)="multiPlayerMode($event)" />

    <input *ngIf="!againstAI" type="text" id="player2" placeholder="Enter Player 2 name"
      (change)="multiPlayerMode($event)" />

  
  </div>

</div>
